
/* main */
body {
  width: 100%;
  font-family: "montserratlight", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background: #FFE;
  color: #666;
}
h1 {
  color: #86baa3;
  font-size: 3.5em;
  font-family: "Great Vibes", cursive;
  line-height: 1.6em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h2, h3 {
  line-height: 1.5em;
}
h4 {
  font-size: 1.2em;
}
main {
  overflow: hidden;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.container {
  width: 100%;
  padding: 0 30px;
  max-width: 1400px;
  overflow: hidden;
  margin: 0 auto;
}
.row {
  margin: 0 -15px;
  overflow: hidden;
}
.row .col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.row .col-4 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
}
.row .col-8 {
  width: 66.66%;
  float: left;
  padding: 0 15px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  line-height: 72px;
  margin: 20px auto 0;
  font-size: 3em;
  border: 3px #fff solid;
  text-align: center;
  color: #fff;
}
.btn-back{
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  z-index: 2;
  background-color: #7c9479;
  border-radius: 50%;
  padding: 5px 8px;
}
.btn-back:hover{
  background-color: #ffcc33;
}
.btn-back img{
  width: 30px;
  height: auto;
}

/* home */
.home {
  padding: 70px 40px 20px;
  text-align: center;
}
.home ul{
  max-width: 500px;
  padding: 0;
  list-style: none;
  margin: 0 auto 20px;
}
.home li{
  display: inline-block;
  padding: 2px 10px;
}
.home b{
  font-weight: normal;
  color: #86baa3;
}
.home p{
  color: #333;
  font-size: 1.2em;
  line-height: 1.9em;
}
.profile {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 150px;
  position: relative;
  z-index: 1;
  border: 4px solid #86baa3;
  margin: 0 auto 20px;
}
.profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* experience */
.bx-education,
.bx-job{
  height: auto;
  text-align: center;
  color: #ecf6e2;
  z-index: 2;
  position: relative;
}
.bx-education {
  color: #666;
  padding-bottom: 60px;
}
.bx-education .circle {
  color: #86baa3;
  border-color: #86baa3;
}
.bx-job{
  position: relative;
  padding: 40px 0;
  background: #86baa3;
}
.bx-job:before{
  bottom: 100%;
  background: url(../img/cropbg-top.png) top no-repeat;
}
.bx-job:after{
  top: 100%;
  background: url(../img/cropbg-bottom.png) top no-repeat;
}
.bx-job:before,
.bx-job:after{
  content: "";
  background-size: cover;
  height: 0;
  padding-bottom: 1.3%;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
}
.bx-job h1, .bx-job h2{
  color: #fff;
}
.job {
  width: 49%;
  padding: 40px 40px 50px;
  display: inline-block;
  vertical-align: top;
}
.job h3 {
  margin-bottom: 20px;
}
.job:first-child {
  font-size: 1.2em;
  width: 100%;
}
.job h4{
  line-height: 1.5em;;
}
.job h4 br{
  display: none;
}
.work h3 {
  margin-bottom: 0;
}
.work a {
  color: #000;
}
.work .job {
  padding: 40px 20px 0;
}

/* skill */
.skill {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
  background: #fff;
  background: #ecf6e2;
  padding: 70px 0 40px;
}
.skill .circle {
  color: #86baa3;
  border: 3px #86baa3 solid;
}
.dt-skill {
  float: left;
  width: 33.33%;
  text-align: left;
  padding: 40px 80px 50px;
}
.dt-skill h2 {
  text-align: center;
  margin-bottom: 20px;
}
.txt-dtskill {
  margin-bottom: 40px;
  text-align: center;
  min-height: 4.8em;
}
.row-skill {
  width: 100%;
  float: left;
  padding: 0 60px;
  line-height: 34px;
}
.name-skill {
  float: left;
}
.star-skill {
  float: right;
  color: #86baa3;
}
.star-skill i {
  margin: 0 3px;
}
.center-skill {
  width: 100%;
}
@media screen and (max-width: 1800px) {
  .profile {
    width: 270px;
    height: 270px;
  }
  .row-skill {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1440px) {
  .profile {
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border-radius: 50%;
  }
  .dt-skill {
    padding: 25px 50px 40px;
  }
  .txt-dtskill {
    min-height: 6.4em;
  }
}
@media screen and (max-width: 1370px) {
  .circle {
    width: 80px;
    height: 80px;
    font-size: 2.4em;
  }
  .profile {
    width: 16%;
    padding-bottom: 16%;
  }
  .row-skill {
    padding: 0 6%;
  }
  .dt-skill {
    padding: 25px 20px 40px;
  }
}
@media screen and (max-width: 1024px) {
  .profile {
    width: 22%;
    padding-bottom: 22%;
  }
  .dt-skill {
    width: 100%;
    padding: 20px 20% 30px;
  }
  .dt-skill h2 {
    margin-bottom: 20px;
  }
  .txt-dtskill {
    min-height: auto;
    margin-bottom: 25px;
  }
  .row-skill {
    padding: 0;
    float: none;
    width: auto;
    display: inline;
    color: #86baa3;
    line-height: 24px;
    font-size: 0.9em;
  }
  .star-skill {
    display: none;
  }
  .name-skill {
    float: none;
    display: inline-block;
    padding-right: 4px;
  }
  .name-skill:after {
    content: ",";
  }
  .row-skill:last-child .name-skill:after {
    content: "";
  }
  .center-skill {
    width: auto;
    clear: both;
    overflow: hidden;
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  .container {
    padding: 0 20px;
  }
  h1 {
    font-size: 3.2em;
  }
  .job{
    padding: 25px 15px;
  }
  .job h4 br{
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .container {
    padding: 0 15px;
  }
  h1 {
    font-size: 3em;
  }
  .home {
    padding: 40px 20px 0;
  }
  .bx-job{
    padding: 20px 0;
  }
  .home h1 {
    font-size: 2.2em;
  }
  .home p {
    font-size: 1em;
  }
  .home p br {
    display: none;
  }
  .profile {
    width: 50%;
    padding-bottom: 50%;
  }
  .skill{
    padding: 20px 0 40px;
  }
  .dt-skill {
    padding: 10px 25px;
  }
  .txt-dtskill {
    margin-bottom: 15px;
  }
  .bx-education {
    padding-bottom: 30px;
  }
  .job {
    padding: 10px 0;
    width: 100%;
  }
  .job:first-child{
    font-size: 1em;
  }
  .job h3 {
    margin-bottom: 10px;
  }
  .btn-back{
    right: 10px;
    bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
}
